In [ ]:
""" 
@author: Utsab Chatterjee

TF-IDF (Term Frequency - Inverse Document Frequency) vectorizer is another way to vectorize the corpus, it's performance is better than (CountVectorizer). 

TF = (FREQUESNCY OF A WORD)/(TOTAL NO OF WORDS PRESENT IN THAT SENTENCE).
IDF = LOG_e (NO. OF SENTENCES/NO. OF SENTENCES CONTAINING THE WORD).

"""

In [1]:
# Speech of Dr. A.P.J Abdul Kalam sir on his 3 visions for India

# text = """I have three visions for India. In 3000 years of our history, people from all over the world have come and invaded us, captured our lands, conquered our minds. From Alexander onwards, The Greeks, the Turks, the Moguls, the Portuguese, the British, the French, the Dutch, all of them came and looted us, took over what was ours. Yet we have not done this to any other nation. We have not conquered anyone. We have not grabbed their land, their culture, their history and Tried to enforce our way of life on them. Why? Because we respect the freedom of others.

# That is why my first vision is that of FREEDOM. I believe that India got its first vision of this in 1857, when we started the war of Independence. It is this freedom that we must protect and nurture and build on. If we are not free, no one will respect us. My second vision for India’s DEVELOPMENT, For fifty years we have been A developing nation. It is time we see ourselves as a developed nation. We are among top 5 nations of the world in terms of GDP. We have 10 percent growth rate in most areas. Our poverty levels are falling. Our achievements are being globally recognized today. Yet we lack the self-confidence to see ourselves as a developed nation, self-reliant and self-assured. Isn’t this incorrect?

# I have a THIRD vision. India must stand up to the world. Because I believe that, unless India stands up to the world, no one will respect us. Only strength respects strength. We must be strong not only as a military power but also as an economic power. Both must go hand-in-hand. My good fortune was to have worked with three great minds. Dr. Vikram Sarabhai of the Dept. of space, Professor Satish Dhawan, who succeeded him and Dr.Brahm Prakash, father of nuclear material. I was lucky to have worked with all three of them closely and consider this the great opportunity of my life. """

In [3]:
text = "He is a good boy. She is a good girl. Boy and Girl both are good"

In [5]:
from nltk.stem import PorterStemmer
from nltk.tokenize import sent_tokenize, word_tokenize
from nltk.corpus import stopwords
import pandas as pd
import re

sent_tokens = sent_tokenize(text)
ps =  PorterStemmer()

corpus = []

for i in range(len(sent_tokens)):
    rec = re.sub("[^a-zA-Z]", " ", sent_tokens[i])
    rec = rec.lower()
    rec = word_tokenize(rec)
    rec = [ps.stem(word) for word in rec if word not in set(stopwords.words("english"))]
    rec = " ".join(rec)
    corpus.append(rec)

from sklearn.feature_extraction.text import TfidfVectorizer
tiv = TfidfVectorizer()
vector = tiv.fit_transform(corpus).toarray()

vector_df = pd.DataFrame(vector, columns=tiv.get_feature_names_out())
vector_df

        boy      girl      good
0  0.789807  0.000000  0.613356
1  0.000000  0.789807  0.613356
2  0.619805  0.619805  0.481334